body {
    font-size: 80%;
    font-family: 'Kanit', sans-serif;
    font-weight: 800;
    letter-spacing: 0.1em;
    color: rgb(198, 204, 211);
    background-image: url(Assets/pexels-flora-westbrook-2574614\ -\ Copy.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    background-color: #2b2d2f;
    padding:0;
    margin:0;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
}

h1 {
    font-size: 4.0em;
    font-weight: 1000;
    text-shadow: 3px 5px 5px black;
    margin:0;
    padding-left: 1em;
    
}

h2 {
    font-size: 2.0em;
    font-weight: 1000;
    text-shadow: 1px 2px 2px black;
    margin: 0.2em 0 0.5em 0.5em;
}

h3 {
    font-size: 1.5em;
    text-shadow: 1px 2px 2px black;
}

p {
    font-size: 1.12em; 
    font-weight: 500;
    letter-spacing: 0.01em;
}

ul li {
    display: inline-block;
}

button {
    width: 13em;
    height: 2.0em;
    font-weight:600;
    background-color: rgba(23, 125, 189, 0.8);
    border-radius: 0.25em;

    color: rgb(198, 204, 211);
}

button:hover {
    color:rgb(43,45,47)
}

.contentWrapper {
    margin: 0 auto;
    max-width: 1500px;
    padding: 0 3.0em;
}

.containerStyle {
    background-color: rgba(43,45,47, 0.8);
    border-radius: 0.5em;
    box-shadow: 2px 2px 3px black;
}

div.clear {
    clear:both;
    font-size: 1%;
}

/*HEADER*/  
header nav {
    width: 100%;
    height: 55px;
    background-color: #2b2d2f;
    margin: 0;
    padding: 0;
    border-radius: 0 0 0.5em 0.5em;
}

#homeButton { 
    width: 155px;
    height: 53px;
    padding:0 0 0 0.25em;
    position: relative;
    left: 1em; 
}
header nav ul {
    width: 380px;
    height: 30px;
    margin: 0.9em 1.0em 0 0;
    padding:0;
    float: right;
    background-color: white;
    border-radius: .5em;
}

header nav ul li {
    width: auto;
    margin: -0.5em 0 0 1.0em;
}

#login {
    text-decoration: none;
    color: #2b2d2f;
}

#login:hover {
    color: rgb(198, 204, 211);
}

#search {
    background-color:#2b2d2f;
    color:rgb(198, 204, 211);
}

#cart {
    position: relative;
    top:0.68em;
}
#nameSocialContainer {
    width: 100%;
    height: 5em;

}

#storeName {
    float: left;
}

#socialNav {
    float: right;
    margin-top: 0.25em;
}

#socialNav ul {
    margin: 0.5em 0 0.5em 0;
    padding: 0 1.0em 0 1.0em;
}

    /*Sidebars*/
section#sidebars {
    width: 250px;
    float: right;
    position: relative;
    left: 168px;
    display: block;
    margin: 1.0em 0 1.0em 0;
}
#sizingForm p {
    margin: 1.0em;
}

#skillLevel {
    font-size: 1.5em;
    text-align: center;
}

#sizingForm button {
    margin-bottom: 0.5em;
    position: relative;
    left: 1.5em;
}

#news h3, p {
    margin: 1.0em;
}

#bottom {
    padding-bottom: 0.5em;
}
/*Main*/
    /*Featured*/
#main {
    width: 1000px;
    margin-top: 2em;
}

section#featured {
    width: 1000px;
    float: left;
    margin: 1.0em 1.0em 1.0em 0;
}

#featuredPic {
    width: 45%;
    display: inline-block;
    margin: 1.0em;
}

#featuredDescription {
    width: 45%;
    display: inline-block;
    margin: 1em;
}

#featuredDescription h3 {
    margin:0;
    Padding: 1.0em 0 0 0.7em;

}

#shopNowButton {
    position: relative;
    left: 6em;
}
.productTypes {
    width: 460px;
    float: left;
    position: relative;
    text-align: center;
    margin: 1.0em 1.5em 1.0em 1.5em;
    border-radius: 0.5em;
}

.centeredText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    font-weight:600;
    background: rgba(112, 112, 112, 0.5);
    border-radius: 0.2em;

}

#learningCenter {
    width:1000px;
    float: left;
    position: relative;
    display: block;
}

#learningCenter h2 {
    text-align: center;
}

.learningBlock {
    width: auto;
    display: inline-block;
    margin: 0 1.5em 0 1.5em;
}

#newsletter {
    position: relative;
    bottom: 4em;
}
#newsletter p {
    margin-left: 0;
}

/*Footer*/
footer {
    text-align: center;
    font-size: 1.2em;
    font-weight:600;
    color:rgb(198, 204, 211);
    text-decoration: none;
}

footer ul li {
    padding: 0.1em 0.25em 0.1em 0.25em;
}

.vertBar::after {
    content: " |";
    padding-left: 0.7em;
}

footer a, footer a:visited {
    color:rgb(198, 204, 211);
    text-decoration: none;
}

footer a:hover {
    color:rgba(23, 125, 189, 0.8)
}